<configuration>
	<!-- Define log file location and pattern -->
	<property name="SERVICE_LOG_FILE"
		value="/Users/mandeep/Desktop/grep logs/logs/user-management-service/service.log" />
	<property name="SERVICE_LOG_PATTERN"
		value="%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} [%X{traceId:-N/A}] [%X{spanId:-N/A}] - %msg%n" />

	<!-- Console Appender for logging to the console -->
	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${SERVICE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<!-- File Appender for logging to a file -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${SERVICE_LOG_FILE}</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- Roll log file daily and keep 30 days of history -->
			<fileNamePattern>/Users/mandeep/Desktop/grep
				logs/logs/user-management-service/service-%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${SERVICE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<!-- Disable Spring Boot internal logs -->
	<logger name="org.springframework" level="ERROR" />
	<logger name="org.springframework.boot" level="ERROR" />

	<!-- Logger level configuration -->
	<root level="INFO">
		<appender-ref ref="FILE" />
	</root>
</configuration>
